In [2]:
import seaborn as sns
import pandas as pd

In [5]:
df = pd.read_csv('data.csv')

In [6]:
df.head()

   CustomerID  Gender Age_Group Region Payment_Method Purchased
0           1    Male     18-25  North           Card       Yes
1           2  Female     26-35  South           Cash        No
2           3  Female     36-45   East           Card       Yes
3           4    Male     18-25   West            UPI        No
4           5  Female     26-35  North           Card       Yes

In [12]:
gender_table = pd.crosstab(df["Gender"],df['Purchased'])

In [13]:
print(gender_table)

Purchased  No  Yes
Gender
Female      1    7
Male        6    1

In [14]:
from scipy.stats import chi2_contingency

chi2, p, dof, ex = chi2_contingency(gender_table)

In [15]:
print(chi2, p, dof, ex)

5.367904974489796 0.02051059831547927 1 [[3.73333333 4.26666667]
 [3.26666667 3.73333333]]

In [16]:
age_group_table = pd.crosstab(df["Age_Group"],df['Purchased'])

In [17]:
chi2,p,dof,ex = chi2_contingency(age_group_table)

In [18]:
print(p)

0.7650170614485746

In [20]:
region_table = pd.crosstab(df["Region"],df['Purchased'])
chi2,p,dof,ex = chi2_contingency(region_table)
print(p)

0.025463718096632774

In [21]:
payment_table = pd.crosstab(df["Payment_Method"],df['Purchased'])
chi2,p,dof,ex = chi2_contingency(payment_table)
print(p)

0.02307206609718422